# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Python
__pycache__/
*.pyc
korean_venv/
venv/
text_to_speech/venv/
text_to_speech/**/temp_*.mp3
text_to_video/**/*.mp4

# Environment
.env
